@model BrtfProject.Models.User

@{
    ViewData["Title"] = "Create Account Details";
}

<h2>New Account Details</h2>
<hr />
<h4 class="text-primary">@ViewData["msg"]</h4>
<style>
    .require {
        color: red;
    }
</style>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <a class="require">*</a>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <a class="require">*</a>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <a class="require">*</a>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermLevel" class="control-label"></label>
                <a class="require">*</a>
                <select asp-for="TermLevel" style="width:540px; height: 35px;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProgramTermId" class="control-label"></label>
                <a class="require">*</a>
                <select asp-for="ProgramTermId" class="form-control" asp-items="ViewBag.ProgramTermId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <a class="require">*</a>
                <select asp-for="TermId" class="form-control" asp-items="ViewBag.TermId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserGroup" class="control-label"></label>
                <a class="require">*</a>
                <select asp-for="UserGroupId" class="form-control" asp-items="ViewBag.UserGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <a class="require">*</a>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <a class="require">Is this the last term until this student graduates?</a>
                <br />
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LastLevel" /> @Html.DisplayNameFor(model => model.LastLevel)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
