@model BrtfProject.Models.ProgramTerm

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Program</h1>

<h4>Program & Terms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramInfo" class="control-label"></label>
                <input asp-for="ProgramInfo" class="form-control" />
                <span asp-validation-for="ProgramInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramCode" class="control-label"></label>
                <input asp-for="ProgramCode" class="form-control" />
                <span asp-validation-for="ProgramCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGroup" class="control-label"></label>
                <select asp-for="UserGroupId" class="form-control" asp-items="ViewBag.UserGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
